:root {
  /* Backgrounds */
  --giscus-color-background: #ffffff;
  --giscus-color-secondary-background: #CEE5F2;

  /* Borders */
  --giscus-color-border: #7C98B3;
  --giscus-color-secondary-border: #ACCBE1;

  /* Text */
  --giscus-color-text: #536B78;
  --giscus-color-secondary-text: #637081;
  --giscus-color-tertiary-text: #7C98B3;

  /* Links & Mentions */
  --giscus-color-link: #536B78;
  --giscus-color-link-hover: #7C98B3;
  --giscus-color-input-focus-border: #7C98B3;

  /* Buttons */
  --giscus-color-button-text: #ffffff;
  --giscus-color-button-background: #536B78;
  --giscus-color-button-hover-background: #7C98B3;

  /* Reactions */
  --giscus-color-icon: #7C98B3;
  --giscus-color-icon-hover: #536B78;
}
