@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue: #003262;
  --gray: #6b7680;
  --green: #00FFBF;
}

body {
  background-color: var(--blue);
}

.main {
  margin: 0 25%;
  color: #fff;
  z-index: 1;
  position: relative;
  top: 0;
}

strong {
  color: var(--green);
}

a {
  font-weight: bold;
  color: var(--green);
}

a:link, a:visited, a:active {
  border-bottom: 1px solid var(--gray);
}

a:hover, a:active {
  border-bottom: none;
}

p {
  margin: 1rem 0;
}

ul {
  list-style: circle;
  margin: auto;
  padding: 1rem;
}

h1 {
  margin: 1rem 0;
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--green);
}

h2 {
  font-weight: bold;
  font-size: 1.25rem;
  color: var(--green);
}

.body {
  z-index: 1;
  background-color: var(--blue);
  border-left: 1px solid var(--green);
  padding-left: .5rem;
}

.star-container {
  position: sticky;
  top: 0;
  z-index: -1;
}

.star-menu {
  background-image: url("./img/star.svg");
  background-repeat: no-repeat;
  width: 256px;
  height: 256px;
  position: absolute;
  transform: rotate(-20deg);
  float: left;
  left: -156px;

  .star-nav {
    list-style: none;
    margin-top: 118px;
    margin-left: 80px;
    transform: rotate(20deg);

    li { 
      a {
        color: var(--blue);
        border: 0;
      }
      a:hover {
        border-bottom: 1px solid var(--gray);
      }
    }
  }
}